ul.level_1, ul.level_2, ul.level_3, ul.level_4, ul.level_5, ul.level_6, ul.level_7, ul.level_8, ul.level_9 {list-style: none; margin: 0; padding: 0;}
ul.level_2, ul.level_3, ul.level_4, ul.level_5, ul.level_6, ul.level_7, ul.level_8, ul.level_9 {display: none;}
ul.level_2.active1, ul.level_3.active2, ul.level_4.active3, ul.level_5.active4 {display: block; margin: 0 5px;}
/*link active*/
ul.level_1 a.active1 {color: red;}
ul.level_2 a.active2 {color: blue;}
ul.level_3 a.active3 {color: brown;}